<% @title = "CP317 -- UPOD Project Tracking Website"%>

<div class="header">
  <div class="container">    
	<br>
    <h2>UPOD Work Tracker</h2>
  </div>
</div
<div class="messages">
  <div class="container">
	  <br>
  	
    <% @entries.reverse.each do |entry| %> 
    <%= link_to 'Post Your Work', "/entries/new" %>
<div class="message"> 
  <p class="name" >
	  <b>Name:</b> <%= entry.name %>, 

	  <b>Email:</b> <%= entry.email %>, 
	  <b>Hours:</b> <%= entry.hours %> </p>
	  
  <p class="description"><%= entry.description %></p> 
  <p class="time"><%= entry.created_at %></p> 
</div> 
<% end %>

  </div>
</div>
