<% @title = "CP317 -- UPOD Project Tracking Website"%>

<div class="header">
  <div class="container">
	<br>
    <h2>UPOD Work Tracker</h2>
  </div>
</div>

<div class="create" top="300px">
  <div class="container2">
   
    <%= form_for(@entry) do |form| %>  
 		 <div class="field"> 
		<table border="0">
			<tr>
				<p align="left"><b>Description of Work:</b></p>
			</tr>
    		<tr><%= form.text_area :description %></tr>
			<tr>
				<td><b>Name: </b></td>
				<td><%= form.text_field :name %></td>
				<td><b>Email: </b></td>
				<td><%= form.email_field :email %></td>
			</tr>
			<tr><td><b>Hours Worked: </b></td>
				<td><%= form.number_field :hours, step: 0.25, max: 12, min: 0 %></td>
			</tr>
		</table>
  		</div> 
  		<div class="actions" align="right"> 
    		<%= form.submit "Post" %> 
  		</div> 
	<% end %>
    
  </div>
</div>
